<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxt.sys.mapper.EmpMapper" >
  <resultMap id="BaseResultMap" type="com.sxt.sys.pojo.Emp" >
    <id column="emp_id" property="empId" jdbcType="INTEGER" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="emp_number" property="empNumber" jdbcType="VARCHAR" />
    <result column="emp_name" property="empName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birth" property="birth" jdbcType="DATE" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="qq_number" property="qqNumber" jdbcType="VARCHAR" />
    <result column="wechat_number" property="wechatNumber" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="manager_id" property="managerId" jdbcType="INTEGER" />
    <result column="e1" property="e1" jdbcType="VARCHAR" />
    <result column="e2" property="e2" jdbcType="VARCHAR" />
    <result column="e3" property="e3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    emp_id, dept_id, emp_number, emp_name, sex, birth, phone_number, qq_number, wechat_number, 
    email, id_card, address, state, create_time, user_id, manager_id, e1, e2, e3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sxt.sys.pojo.EmpExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_emp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_emp
    where emp_id = #{empId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_emp
    where emp_id = #{empId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sxt.sys.pojo.EmpExample" >
    delete from t_emp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sxt.sys.pojo.Emp" >
    insert into t_emp (emp_id, dept_id, emp_number, 
      emp_name, sex, birth, phone_number, 
      qq_number, wechat_number, email, 
      id_card, address, state, 
      create_time, user_id, manager_id, 
      e1, e2, e3)
    values (#{empId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, #{empNumber,jdbcType=VARCHAR}, 
      #{empName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{birth,jdbcType=DATE}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{qqNumber,jdbcType=VARCHAR}, #{wechatNumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{state,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, #{managerId,jdbcType=INTEGER}, 
      #{e1,jdbcType=VARCHAR}, #{e2,jdbcType=VARCHAR}, #{e3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sxt.sys.pojo.Emp" >
    insert into t_emp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="empNumber != null" >
        emp_number,
      </if>
      <if test="empName != null" >
        emp_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birth != null" >
        birth,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="qqNumber != null" >
        qq_number,
      </if>
      <if test="wechatNumber != null" >
        wechat_number,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="managerId != null" >
        manager_id,
      </if>
      <if test="e1 != null" >
        e1,
      </if>
      <if test="e2 != null" >
        e2,
      </if>
      <if test="e3 != null" >
        e3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="empId != null" >
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="empNumber != null" >
        #{empNumber,jdbcType=VARCHAR},
      </if>
      <if test="empName != null" >
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birth != null" >
        #{birth,jdbcType=DATE},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="qqNumber != null" >
        #{qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="wechatNumber != null" >
        #{wechatNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="managerId != null" >
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="e1 != null" >
        #{e1,jdbcType=VARCHAR},
      </if>
      <if test="e2 != null" >
        #{e2,jdbcType=VARCHAR},
      </if>
      <if test="e3 != null" >
        #{e3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sxt.sys.pojo.EmpExample" resultType="java.lang.Integer" >
    select count(*) from t_emp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_emp
    <set >
      <if test="record.empId != null" >
        emp_id = #{record.empId,jdbcType=INTEGER},
      </if>
      <if test="record.deptId != null" >
        dept_id = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.empNumber != null" >
        emp_number = #{record.empNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.empName != null" >
        emp_name = #{record.empName,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.birth != null" >
        birth = #{record.birth,jdbcType=DATE},
      </if>
      <if test="record.phoneNumber != null" >
        phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.qqNumber != null" >
        qq_number = #{record.qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.wechatNumber != null" >
        wechat_number = #{record.wechatNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.idCard != null" >
        id_card = #{record.idCard,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.managerId != null" >
        manager_id = #{record.managerId,jdbcType=INTEGER},
      </if>
      <if test="record.e1 != null" >
        e1 = #{record.e1,jdbcType=VARCHAR},
      </if>
      <if test="record.e2 != null" >
        e2 = #{record.e2,jdbcType=VARCHAR},
      </if>
      <if test="record.e3 != null" >
        e3 = #{record.e3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_emp
    set emp_id = #{record.empId,jdbcType=INTEGER},
      dept_id = #{record.deptId,jdbcType=INTEGER},
      emp_number = #{record.empNumber,jdbcType=VARCHAR},
      emp_name = #{record.empName,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      birth = #{record.birth,jdbcType=DATE},
      phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      qq_number = #{record.qqNumber,jdbcType=VARCHAR},
      wechat_number = #{record.wechatNumber,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      id_card = #{record.idCard,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=INTEGER},
      manager_id = #{record.managerId,jdbcType=INTEGER},
      e1 = #{record.e1,jdbcType=VARCHAR},
      e2 = #{record.e2,jdbcType=VARCHAR},
      e3 = #{record.e3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxt.sys.pojo.Emp" >
    update t_emp
    <set >
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="empNumber != null" >
        emp_number = #{empNumber,jdbcType=VARCHAR},
      </if>
      <if test="empName != null" >
        emp_name = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birth != null" >
        birth = #{birth,jdbcType=DATE},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="qqNumber != null" >
        qq_number = #{qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="wechatNumber != null" >
        wechat_number = #{wechatNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="managerId != null" >
        manager_id = #{managerId,jdbcType=INTEGER},
      </if>
      <if test="e1 != null" >
        e1 = #{e1,jdbcType=VARCHAR},
      </if>
      <if test="e2 != null" >
        e2 = #{e2,jdbcType=VARCHAR},
      </if>
      <if test="e3 != null" >
        e3 = #{e3,jdbcType=VARCHAR},
      </if>
    </set>
    where emp_id = #{empId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxt.sys.pojo.Emp" >
    update t_emp
    set dept_id = #{deptId,jdbcType=INTEGER},
      emp_number = #{empNumber,jdbcType=VARCHAR},
      emp_name = #{empName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=DATE},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      qq_number = #{qqNumber,jdbcType=VARCHAR},
      wechat_number = #{wechatNumber,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      state = #{state,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      manager_id = #{managerId,jdbcType=INTEGER},
      e1 = #{e1,jdbcType=VARCHAR},
      e2 = #{e2,jdbcType=VARCHAR},
      e3 = #{e3,jdbcType=VARCHAR}
    where emp_id = #{empId,jdbcType=INTEGER}
  </update>
</mapper>